<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
    <style>
        h1 {
            font-family: Arial;
            font-weight: bold;
            color: brown;
            text-align: center;
    }
    </style>

</head>
<body>
    <h1>ABOUT</h1>
    <hr>
    <hr>
    <p>안녕하세요, 이곳은 글자를 세 주는 워드카운터입니다.</p>
    <button><a href="{%url 'home'%}">HOME</a></button>
</body>
</html>